h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.main-content {
    flex-grow: 1;
}

footer {
    color:#888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

a {
    color:#888;
    margin-right: 16px;
    text-decoration: none;
}

.potrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background:blue;
    color: white;
    padding: 8px;
}

#message-1 {
    font-size: 20px;
    font-weight: bold;
}

#message-2 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: chocolate;
}