<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About Page</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <img class="potrait other" src="./img/sgSanjayGuwaju.jpg" alt="" />
    </div>
    {{>footer}}
  </body>
  <script src="./js/script.js"></script>
</html>
